div {
  font-family: "American Typewriter", "Times New Roman", Verdana;
}
.bookpic{
  float:left;
}
div.thumbnail p a.boktextcart{
  float: left;
}
.test{
  float: left;
}

.from{
  margin: 2px;
}

@media only screen and (min-width: 768px) {
  .thumbnail{
    border: none;
  }

}

@media screen and (max-width: 767px) {
  .boktext{
    padding-left: 30px;
    font-size: 150%;
  }
  .book {
    margin: 20px;
    width: 80%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .title{
    margin: 15px;
    font-size: 300%;
  }
  .boktext{
    font-size: 200%;
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .boktext{
    font-size: 150%;
}
