body footer div {
  font-family: "American Typewriter", "Times New Roman", Verdana;
}

.logo{
  width: 50%;
  max-width: 500px;
}
body {
	font-size: 1rem;
	background-color: #ebebeb;
	padding: 20px;
	text-align: center;
}

h1 {
	font-weight: 100;
	color: #777;
}


i.material-icons {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}



i.material-icons:hover:after {
	transform: scale(1);
	box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}



i.btn1 {
	background-color: #cd8484;
  content: url("../img/hem.png")
}

i.btn2 {
	background-color: #ec9f83;
  content: url("../img/basket.png")
}

i.btn3 {
	background-color: #8897b9;
  content: url("../img/om.png")
}

i.btn4 {
	background-color: #88b999;
  content: url("../img/search.png")
}

i.btn5 {
	background-color: #d59acb;
  content: url("../img/@.png")
}

/*#af88b9; #88b2b9; #cdb274;*/

i.material-icons:hover{
  transform: rotate(0deg);
	box-shadow: none;
}

i.btn1:hover{
	background-color: #f6c6ca;
}

i.btn2:hover{
	background-color: #f7bba4;
}

i.btn3:hover{
	background-color: #b9caed;
}

i.btn4:hover{
	background-color: #c0deca;
}

i.btn5:hover{
	background-color: #fad1f3;
}

i.material-icons {
		padding: 20px;
		margin: 10px;
}


}
